[submodule "pack/brendanwhit/start/vim-colors-solarized"]
	path = pack/brendanwhit/start/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "pack/brendanwhit/start/vim-sensible"]
	path = pack/brendanwhit/start/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule "pack/brendanwhit/start/vim-surround"]
	path = pack/brendanwhit/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "pack/brendanwhit/start/vim-fugitive"]
	path = pack/brendanwhit/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/brendanwhit/start/vim-tmux-navigator"]
	path = pack/brendanwhit/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "pack/brendanwhit/start/eunuch"]
	path = pack/brendanwhit/start/eunuch
	url = https://github.com/tpope/vim-eunuch
